<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Coffee Management</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.6"></script>
  </head>
  <body>
    <h1>User List</h1>
    <button hx-get="/auth/register">
      Create Account
    </button>
  </body>
</html>
